body {
    margin: 0;
    padding: 0;
}



.header-section{
    background-color: aliceblue;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    flex-wrap: wrap;
}
.nav{
    margin-left: auto;
}

.nav-wrapper{
    list-style-type: none;
    display: flex;
}

.nav-item a {
    display: block;
    padding: 0.5rem; 
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}


.website-items{
    margin: 0;
}